[tool.black]
line-length = 88
include = '\.pyi?$'

[tool.isort]
profile = "black"
multi_line_output = 3
force_grid_wrap = 0
line_length = 88
default_section = "THIRDPARTY"
known_third_party = ["django"]
known_first_party = []
include_trailing_comma = true
use_parentheses = true
ensure_newline_before_comments = true
skip = "venv/"
