{% load crispy_forms_tags %}
<!doctype html>
<html lang="en" class="h-100">

<head>
    {% include 'include_head.html' %}
</head>

<body class="h-100 bg-light">

    <div class="d-flex flex-column justify-content-center h-100 align-items-center">

        <div class="card">
            <div class="card-body">
                <p class="fs-4 text-center">{{ app_title }}</p>

                <form method="post">

                    {% csrf_token %}

                    {{ form|crispy }}

                    <button style="min-width: 320px;" type="submit" class="btn btn-primary w-100">Sign In</button>

                </form>

            </div>
        </div>

    </div>
</body>

</html>
